@import 'reset';

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/helvetica_bold.eot');
	src: local('☺'), url('fonts/helvetica_bold.woff') format('woff'), url('fonts/helvetica_bold.ttf') format('truetype'), url('fonts/helvetica_bold.svg') format('svg');
	font-weight:700;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('fonts/helvetica_normal.eot');
	src: local('☺'), url('fonts/helvetica_normal.woff') format('woff'), url('fonts/helvetica_normal.ttf') format('truetype'), url('fonts/helvetica_normal.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('fonts/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;

.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    background-color: rgb(34, 34, 34);
        img{
            width: 100px;
            height: 100px;
        }
        h1{
            font-family: Helvetica;
            font-size: 32px;
            color: #131313;
        }
        h2{
            font-family: Helvetica;
            font-size: 20px;
            color: #FFFFFF;
        }
        h3{
            font-family: Helvetica;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 24px;
        }
        h4{
            font-family: Helvetica;
            font-size: 14px;
            color: #FFFFFF;
        }
        h5{
            font-family: Helvetica;
            font-size: 12px;
            color: #9B9B9B;
        }
    }

    .leftPanel{
        display: flex;
        flex-direction: column;
        background-color: black;
        min-width: 240px;
    }
    .leftPanelTop{
        display: flex;
        justify-content: space-around;
        align-items:center;
        min-height: 84px;
        img{
           width: 21.6px;
           height: 18.9px; 
        }
       .search{
            width: 16px;
            height: 16px;
           }
    }
    .leftPanelInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
        background: #202020;
        max-width: 240px;
        min-height: 80px;
        img{
            width: 48px;
            height: 48px;
            border-radius: 48px;
        }
        .leftTask{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            max-height: 80px;
            h2{
                margin-top: 20px;
            }
        }
    }
    .nawBar{
        margin-left: 30px;
        margin-top: 31px;
        h5{
            margin-bottom: 18px;
        }
        ul {
            list-style: none;
          }
          a {
            text-decoration: none;
            font-family: Helvetica;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 22px;
          }
          li {
            margin-right:5px;
            margin-bottom: 16px;
          }
    }
    .rightPanel{
        background-color:#F7F6F3;

        h1{
            font-family: Helvetica;
            font-size: 32px;
            color: #131313;
        }
        h3{
            opacity: 0.7;
            font-family: Helvetica;
            font-size: 16px;
            color: #131313;
        }
        h4{
            opacity: 0.5;
            font-family: Helvetica;
            font-size: 14px;
            color: #131313;
        }
        .head{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items:center;

            flex-wrap: wrap;

            background-color: #FFFFFF;
            min-width: 1170px;
            min-height: 136px;
            .pic0{
                width: 40px;
                height: 40px;
                border-radius: 25% 25% 25% 25%;
                background-color: gold;
            }
            .pic1, .pic2, .pic3{
                img{
                    width: 30px;
                    height: 30px; 
                    border-radius: 100%;
                }
            }
            .share{
                width: 67px;
                height: 30px;
                background: #EAEAEA;
                border-radius: 15px;
                font-family: Helvetica;
                font-size: 14px;
                color: #131313;
            }
            .chat{
                width: 81px;
                height: 30px;
                border-radius: 15px;
                background: #FFF8DD;
                font-family: Helvetica;
                font-size: 14px;
                color: #FFC200;

                img{
                    width: 15px;
                    height: 15px; 
                    margin-right: 5px;
                }
            }
            ul {
                list-style: none;
              }
              a {
                text-decoration: none;
               
                opacity: 0.7;
                font-family: Helvetica;
                font-size: 16px;
                color: #131313;
              }
              li {
                float:left;
                margin-right:5px;
              }
              .head>* {
                flex: 1 1 10px;
            }
        }
        .frontSpase{
            margin-top:30px;
            margin-left:220px;

            width: 730px;
            height: 591px;
            background-color: white;
            
            border-radius: 8px;

            .today{
                margin-left: 30px;
                padding-top: 35px;
            }
            .pic0{
                width: 12px;
                height: 9px;
            }
            .message_0, .message_1, .message_3{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items:center;
                h3{
                    margin-top: 30px;
                    margin-bottom: 30px;
                    max-width: 461px;
                    max-height: 40px;
                }
                .message_2{
                    max-width: 551px;
                    max-height: 88px;

                    background: #F7F6F3;
                    border-radius: 10px;
                }
                img{
                    width: 12px;
                    height: 10px;
                    background: #CEF9C6;

                }
            }
            .img0{
                margin-left: 90px;
            }
            .img0, .img1, .img2, .img3{
                width: 100px;
                height: 100px;
                border-radius: 8px;
                margin-right: 10px;
            }
        }
    
    }
   