.leftPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  min-width: 270px;
}

.leftPanelTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 84px;
}

.leftPanelTop .logo {
  width: 21.6px;
  height: 20px;
  margin-left: 30.4px;
  margin-right: 13px;
  position: relative;
}

.leftPanelTop .logo::before {
  background-image: url("../assets/Logo@3x.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  content: '';
}

.leftPanelTop .search {
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: 25.1px;
}

.leftPanelTop .search::before {
  background-image: url("../assets/Search@3x.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  content: '';
}

.leftPanelInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #202020;
  width: 100%;
  min-height: 80px;
  line-height: 20px;
}

.leftPanelInfo img {
  margin-left: 30px;
  margin-right: 15px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.leftPanelInfo #name {
  font-family: Helvetica;
  font-size: 14px;
  color: #FFFFFF;
}

.leftPanelInfo #who {
  font-family: Helvetica;
  font-size: 12px;
  color: #9B9B9B;
}

.leftPanelInfo button {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: #D8D8D8;
}

.leftPanelInfo button::before, .leftPanelInfo button::after {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: #D8D8D8;
  content: '';
}

.leftPanelInfo button::before {
  left: 6px;
}

.leftPanelInfo button::after {
  right: 6px;
}

.leftTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  margin-top: 20px;
  line-height: 25px;
}

.leftTask #completedTask, .leftTask #openTask {
  font-family: Helvetica;
  font-size: 20px;
  color: #FFFFFF;
  width: 50%;
}

.leftTask #completed, .leftTask #open {
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 12px;
  color: #FFFFFF;
  width: 50%;
}

.leftTask #completed {
  cursor: pointer;
}

.nawBar {
  margin-left: 30px;
  margin-top: 31px;
}

.nawBar h5 {
  margin-bottom: 18px;
}

.nawBar ul {
  list-style: none;
}

.nawBar li {
  margin-right: 5px;
  margin-bottom: 16px;
}

.nawBar li a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nawBar li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #131313;
  background: #FFC200;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}
/*# sourceMappingURL=leftPanel.css.map */