@import 'reset';

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/helvetica_bold.eot');
	src: local('☺'), url('fonts/helvetica_bold.woff') format('woff'), url('fonts/helvetica_bold.ttf') format('truetype'), url('fonts/helvetica_bold.svg') format('svg');
	font-weight:700;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('fonts/helvetica_normal.eot');
	src: local('☺'), url('fonts/helvetica_normal.woff') format('woff'), url('fonts/helvetica_normal.ttf') format('truetype'), url('fonts/helvetica_normal.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('fonts/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

.page{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    background-color: rgb(34, 34, 34);
    h1{
        font-family: Helvetica;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px
    }
    h2{
        font-family: Helvetica;
        font-size: 12px;
        color: #878787;
        line-height: 18px;

        margin-bottom: 19px;
    }
    h3{
        font-family: Helvetica;
        font-size: 32px;
        color: #131313;
        white-space: nowrap;
    }
    h4{
        opacity: 0.5;
        font-family: Helvetica;
        font-size: 14px;
        color: #131313;

        margin-left: 30px;
        padding-top: 35px;
    }

    @import 'leftPanel';
    @import 'rightPanel';
}

@media screen and (max-width:950px){
    .page{
        display: inline;
    }
}