
.rightPanel{
   //display: none;
    max-width: 1170px;
    background-color:#F7F6F3;

    .head{
        display: flex;
        flex-wrap: wrap;

        background-color: #FFFFFF;
        max-width: 100%;

        padding-left: 30px;
        padding-right: 30px;

        .top{
            display: flex;
            align-items: center;

            width: 100%;
            height: 40px;

            margin-top: 40px;
            @media screen and (max-width:700px){

            }
            .headLogo{
                min-width: 40px;
                min-height: 40px;
                border-radius: 25%;
                background-color: gold;
                position: relative;
                margin-right: 15px;
                &::before{
                    background-image: url("../assets/Shapes@2x.png");
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    content: '';
                    background-size: 40px;
                }
            }
            h1{
                white-space: nowrap;
            }
            .settings{
                position: relative;
                min-width: 30px;
                height: 30px;
                background: none;
                margin-left: 11px;
                &::before{
                    background-image: url("../assets/setting.svg");
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                }
            }
            .users{
                display: flex;
                justify-content: right;
                width: 100%;
                img{
                    width: 30px;
                    height: 30px; 
                    border-radius: 100%;
                    margin-right: 11px;
                }
    
            }
            .share{
                min-width: 67px;
                height: 30px;
                border-radius: 15px;
                margin-left: 10px;
                font-size: 14px;

                background: #EAEAEA;
                font-family: Helvetica;
                color: #131313;
            }
    
            .chat{
                min-width: 81px;
                height: 30px;
                border-radius: 15px;
                margin-left: 15px;
                font-size: 14px;

                background: #FFF8DD;
                font-family: Helvetica;
                color: #FFC200;

                position: relative;
                padding-left: 20px;
                &::before{
                    background-image: url("../assets/Combined Shape@1x.svg");
                    background-repeat: no-repeat;
                    background-position: 15px center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                }
    
                img{
                    width: 15px;
                    height: 15px; 
                    margin-right: 5px;
                }
            }
        }

        nav{
            width: 100%;
            margin-top: 21px;
            margin-bottom: 14px;
            ul {
                list-style: none;
                li {
                    float:left;
                    margin-right:30px;
                    a {
                        text-decoration: none;
                        
                        opacity: 0.7;
                        font-family: Helvetica;
                        font-size: 16px;
                        color: #131313;
                        &.active{
                            position: relative;
                            opacity: 1;
                            &::before{
                                width: 100%;
                                height: 2px;
                                background: #FFC200;
                                position: absolute;
                                content: '';
                                bottom: -14px;
                            }
                        }
                    }
                }

            }
        }

    }
    @import 'frontSpase';
}


@media screen and (max-width:700px){
    .rightPanel{
        .head{
            .top{
                min-height: 150px;
                flex-wrap: wrap;
                h3{
                    width: auto;
                }
                button{
                    margin-right: 10px;
                }
                .users{
                    justify-content: left;
                    width: auto;
                }
            } 
        }

    }
}

@media screen and (max-width:460px){
    .rightPanel{
        .head{
            padding-left: 5px;
            padding-right: 5px;
            .top{
                i{
                    margin-left: 12px;
                }
                h3{
                    width: 75%
                }
                .users{
                    justify-content: left;
                    width: 80%;
                    margin-left: 10px;
                }
            }

            nav{
                ul{
                    li{
                        margin-right: 5px;
                    }  
                }
            }

        }
 
    }
}