.rightPanel {
  max-width: 1170px;
  background-color: #F7F6F3;
}

.rightPanel .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FFFFFF;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.rightPanel .head .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.rightPanel .head .top .headLogo {
  min-width: 40px;
  min-height: 40px;
  border-radius: 25%;
  background-color: gold;
  position: relative;
  margin-right: 15px;
}

.rightPanel .head .top .headLogo::before {
  background-image: url("../assets/Shapes@2x.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  content: '';
  background-size: 40px;
}

.rightPanel .head .top h1 {
  white-space: nowrap;
}

.rightPanel .head .top .settings {
  position: relative;
  min-width: 30px;
  height: 30px;
  background: none;
  margin-left: 11px;
}

.rightPanel .head .top .settings::before {
  background-image: url("../assets/setting.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.rightPanel .head .top .users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
}

.rightPanel .head .top .users img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 11px;
}

.rightPanel .head .top .share {
  min-width: 67px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  font-size: 14px;
  background: #EAEAEA;
  font-family: Helvetica;
  color: #131313;
}

.rightPanel .head .top .chat {
  min-width: 81px;
  height: 30px;
  border-radius: 15px;
  margin-left: 15px;
  font-size: 14px;
  background: #FFF8DD;
  font-family: Helvetica;
  color: #FFC200;
  position: relative;
  padding-left: 20px;
}

.rightPanel .head .top .chat::before {
  background-image: url("../assets/Combined Shape@1x.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.rightPanel .head .top .chat img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.rightPanel .head nav {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 14px;
}

.rightPanel .head nav ul {
  list-style: none;
}

.rightPanel .head nav ul li {
  float: left;
  margin-right: 30px;
}

.rightPanel .head nav ul li a {
  text-decoration: none;
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
}

.rightPanel .head nav ul li a.active {
  position: relative;
  opacity: 1;
}

.rightPanel .head nav ul li a.active::before {
  width: 100%;
  height: 2px;
  background: #FFC200;
  position: absolute;
  content: '';
  bottom: -14px;
}

.rightPanel .frontSpase {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 730px;
  height: 591px;
  background-color: white;
  border-radius: 8px;
  padding-left: 30px;
}

.rightPanel .frontSpase .time0, .rightPanel .frontSpase .time1, .rightPanel .frontSpase .time3 {
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
  text-align: right;
  line-height: 20px;
  margin-right: 30px;
}

.rightPanel .frontSpase p {
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
  line-height: 20px;
  margin-right: auto;
}

.rightPanel .frontSpase .message_0, .rightPanel .frontSpase .message_1, .rightPanel .frontSpase .message_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightPanel .frontSpase .message_0 p, .rightPanel .frontSpase .message_1 p, .rightPanel .frontSpase .message_3 p {
  max-width: 461px;
  max-height: 40px;
}

.rightPanel .frontSpase .message_0 i, .rightPanel .frontSpase .message_1 i, .rightPanel .frontSpase .message_3 i {
  margin-right: 20px;
}

.rightPanel .frontSpase .message_0 img, .rightPanel .frontSpase .message_1 img, .rightPanel .frontSpase .message_3 img {
  width: 12px;
  height: 10px;
  background: #CEF9C6;
}

.rightPanel .frontSpase .message_0 {
  padding-top: 30px;
}

.rightPanel .frontSpase .message_0 i {
  padding-top: 30px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #CEF9C6;
  position: relative;
}

.rightPanel .frontSpase .message_0 i::before {
  background-image: url("../assets/Icon@3x.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.rightPanel .frontSpase .message_1 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.rightPanel .frontSpase .message_1 i {
  padding-top: 30px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #FFF8DD;
  position: relative;
}

.rightPanel .frontSpase .message_1 i::before {
  background-image: url("../assets/message.png");
  background-repeat: no-repeat;
  background-position: 14px center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-size: 14px;
}

.rightPanel .frontSpase .message_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 551px;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F6F3;
  border-radius: 10px;
}

.rightPanel .frontSpase .message_2 P {
  margin: auto;
}

.rightPanel .frontSpase .message_3 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.rightPanel .frontSpase .message_3 i {
  padding-top: 30px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #E3EFFF;
  position: relative;
}

.rightPanel .frontSpase .message_3 i::before {
  background-image: url("../assets/download.png");
  background-repeat: no-repeat;
  background-position: 14px center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-size: 14px;
}

.rightPanel .frontSpase #imgs img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.rightPanel .frontSpase #imgs img:first-child {
  margin-left: 90px;
}

@media screen and (max-width: 700px) {
  .rightPanel .frontSpase {
    width: auto;
  }
  .rightPanel .frontSpase .time0, .rightPanel .frontSpase .time1, .rightPanel .frontSpase .time3 {
    margin-left: 5px;
    margin-right: 5px;
  }
  .rightPanel .frontSpase .message_2 {
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .rightPanel .frontSpase .message_3 {
    padding-top: 5px;
    padding-bottom: 30px;
  }
  .rightPanel .frontSpase .img0 {
    margin-left: auto;
  }
}

@media screen and (max-width: 460px) {
  .rightPanel .frontSpase img {
    margin-bottom: 5px;
  }
  .rightPanel .frontSpase .img1 {
    margin-right: 110px;
  }
}

@media screen and (max-width: 700px) {
  .rightPanel .head .top {
    min-height: 150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rightPanel .head .top h3 {
    width: auto;
  }
  .rightPanel .head .top button {
    margin-right: 10px;
  }
  .rightPanel .head .top .users {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: auto;
  }
}

@media screen and (max-width: 460px) {
  .rightPanel .head {
    padding-left: 5px;
    padding-right: 5px;
  }
  .rightPanel .head .top i {
    margin-left: 12px;
  }
  .rightPanel .head .top h3 {
    width: 75%;
  }
  .rightPanel .head .top .users {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 80%;
    margin-left: 10px;
  }
  .rightPanel .head nav ul li {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=rightPanel.css.map */