* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/helvetica_oblique.otf);
}
.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  background-color: #222222;
}
.page img {
  width: 100px;
  height: 100px;
}
.page h1 {
  font-family: Helvetica;
  font-size: 32px;
  color: #131313;
}
.page h2 {
  font-family: Helvetica;
  font-size: 20px;
  color: #FFFFFF;
}
.page h3 {
  font-family: Helvetica;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
}
.page h4 {
  font-family: Helvetica;
  font-size: 14px;
  color: #FFFFFF;
}
.page h5 {
  font-family: Helvetica;
  font-size: 12px;
  color: #9B9B9B;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-width: 240px;
}

.leftPanelTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 84px;
}
.leftPanelTop img {
  width: 21.6px;
  height: 18.9px;
}
.leftPanelTop .search {
  width: 16px;
  height: 16px;
}

.leftPanelInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #202020;
  max-width: 240px;
  min-height: 80px;
}
.leftPanelInfo img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.leftPanelInfo .leftTask {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 80px;
}

.nawBar ul {
  list-style: none;
}
.nawBar a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22px;
}
.nawBar li {
  margin-right: 5px;
}

.rightPanel {
  background-color: #F7F6F3;
}
.rightPanel h1 {
  font-family: Helvetica;
  font-size: 32px;
  color: #131313;
}
.rightPanel h3 {
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
}
.rightPanel h4 {
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
}
.rightPanel .head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  max-width: 1170px;
  min-height: 136px;
}
.rightPanel .head .pic0 {
  width: 40px;
  height: 40px;
  border-radius: 25% 25% 25% 25%;
  background-color: gold;
}
.rightPanel .head .pic1 img, .rightPanel .head .pic2 img, .rightPanel .head .pic3 img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.rightPanel .head .share {
  width: 67px;
  height: 30px;
  background: #EAEAEA;
  border-radius: 15px;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
}
.rightPanel .head .chat {
  width: 81px;
  height: 30px;
  border-radius: 15px;
  background: #FFF8DD;
  font-family: Helvetica;
  font-size: 14px;
  color: #FFC200;
}
.rightPanel .head .chat img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.rightPanel .head ul {
  list-style: none;
}
.rightPanel .head a {
  text-decoration: none;
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
}
.rightPanel .head li {
  float: left;
  margin-right: 5px;
}
.rightPanel .head .head > * {
  flex: 1 1 10px;
}
.rightPanel .frontSpase {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 100px;
  width: 730px;
  height: 591px;
  background-color: white;
  border-radius: 8px;
}
.rightPanel .frontSpase .img0, .rightPanel .frontSpase .img1, .rightPanel .frontSpase .img2, .rightPanel .frontSpase .img3 {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */